:root {
 --color-bg: #00a5be;
 --color-black: #000000;
 --color-white: #FFFFFF;
 --font-basic: 'Inter', sans-serif;
 --base-font-size: 16px;
 --font-size-character-name-basic: 30px;
 --font-size-character-name: 50px;
 --font-size-label-basic: 25px;
 --bg-character-label: #685128;
 --color-character-label: var(--color-white);
 --color-character-name-placeholder: rgb(0, 0, 0, .1);
 --color-character-name-after: #F7391C;
 
}