$labelColor: blue;

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  color: $labelColor;
  background: url("./landscape.jpg") no repeat;
  background-size: cover;
  height: 100vh;
}

